html,
body {
    height: 100%;
    margin: 0;
}

body {
    display: flex;
    flex-direction: column;
}

main {
    display: flex;
    flex: 1;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    flex: 1;
    background-color: #6a91fa;
}

.card {
    width: 80%;
    max-width: 1536px;
    margin: 80px 10% 0 10%;
}

.col-md-4 {
    background-color: #27355C;
    display: flex;
    justify-content: center;
    padding-top: 8px;
}

.col-md-4 img {
    height: 40%;
    width: auto;
    object-fit: cover;
    display: block;
}

.col-md-8 {
    background-image: url(./assets/img/brainbg.jpg);
    background-size: cover;
    background-position: center;
}

.card-body {
    display: flex;
    flex-direction: column;
}

.btn {
    display: flex;
    justify-content: flex-start !important;
}

.arrow_container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    margin: 8px 0 8px 0;
}

.arrow_container p {
    margin: unset;
}

.arrow {
    background-color: #6C757D;
    border-radius: 50%;
    width: 24px;
    height: 24px;

    display: flex;
    align-items: center;
    justify-content: center;
}

.arrow img {
    object-fit: cover;
    display: block;
    width: 80%;
    height: 80%;
}

.question_container {
    height: 92px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 8px;
    padding-left: 8px;
    cursor: pointer;
}

.background-light-green {
    background-color: #B7F699;
}

.background-light-red {
    background-color: #FFA3A4;
}

.background-green {
    background-color: #4CC017 !important;
}

.background-red {
    background-color: #F81817;
}

.alert {
    margin-bottom: 0 !important;
    display: flex;
}

.alert-success {
    align-items: center;
    margin-bottom: 0 !important;
}

.my-alert-success {
    background-color: #D1E7DD;
    margin-bottom: 0 !important;
}